<div class="well">
    <div class="row">
        <div class="span8" style="font-size: 28px">
            <a href="{{ site_context.onEndpoint ? ep_path(post) : link }}">{{ post.title }}</a>
        </div>
        <div class="span8" style="text-align: right">
            <i>{{ post.date.format('d-m-Y H:i:s') }}</i>
        </div>
    </div>
    <div class="row">
        <div class="span8" style="margin: 10px 0px 10px 0px">
            {{ post.bodyPreview }}
        </div>
    </div>
    <div class="row">
        <div class="span8" style="text-align: right">
        </div>
    </div>
</div>

