<!doctype html>
<html>
    <head>
        <title>Default Blog Layout</title>
    </head>
    <body>
        <h1>Default Blog Layout</h1>
        <p>
            This is the default Symfony CMF Blog layout. You probably want to
            override this template to integrate the blog bundle system into 
            your website.
        </p>
        {% block content %}
        {% endblock %}
    </body>
</html>
