{% extends "CmfBlogBundle::layout.html.twig" %}

{% block content %}
    <div class="blogs">

        <h1>Blogs</h1>

        {% for blog in blogs %}

            <div class="blog">
                <h2>
                    <a href="{{ path(blog) }}">{{ blog.name }}</a>
                </h2>
                {% if blog.description %}
                    <p class="description">
                        {{ blog.description|nl2br|raw }}
                    </p>
                {% endif %}
            </div>

        {% else %}
            <p class="empty">No blogs found.</p>
        {% endfor %}

    </div>
{% endblock %}
