{% extends "CmfBlogBundle::default_layout.html.twig" %}
{% block content %}
<div class="row-fluid">
    <div class="span12">
        {% if tag %}
            <div class="alert alert-info">
                {# @todo: Translation #}
                Showing posts with tag "{{ tag }}"
            </div>
        {% endif %}
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        {% block posts %}
            {% for post in posts %}
                {% include "CmfBlogBundle:Blog:list_post.html.twig" %}
            {% endfor %}
        {% endblock %}
    </div>
</div>
{% endblock %}
